html, body {
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: slategray;
    position: relative;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    transform: translatey(-50%);
}

ul {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
    overflow: hidden;
    text-align: right;

}

nav ul li {
    display: inline-block;
    padding: 10px 15px

}

#herosection {
    top: 10px;
    width: 400px;
    height: 250px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 2px black solid;
    position: relative;
    border-radius: 5px;
}

#herosection img {
    width: 400px;
    height: 250px;
    display: block;
}
#herosection h2,
#herosection p,
#herosection a {
    position: absolute;
}
#herosection h2 {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#herosection p {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
}

#herosection a {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(13, 14, 16, 0.25);
    color: white;
    padding: 10px 120px;
    text-decoration: none;
    border-radius: 8px;
    white-space: nowrap;
}

main {
    padding-top: 20px;
}

