*{
    box-sizing: border-box;
}

body {
    height: 2000px;
}

#glob-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0.2rem;
    position: sticky;
}


.logo{
    margin: 0;
    padding: 0;
    color: black;
}
#Tank {
    height: 64px; /*Høyde til logoen*/
    padding: 0.2rem;
}


.nav_links {    
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0.4rem;

}

.nav_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
    
}

table {
    width: 100%;
    align-items: center;
    border-collapse: collapse;
    font-family: Arial;
    margin: 0 auto;
} 
th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    background-color: lightslategray;
}

#roundimg {
    width: 250px;
    height: 300px;
}

.dist {
    background-color: lightslategray;
    font-weight: bold;
}

#roundimg2 {
    transform: rotate(90deg);
    width: 250px;
    height: 250px;
}
