*{
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;


    min-height: 100vh;
    background-color: aliceblue;
}

/*GLOBAL HEADER*/
#glob-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 0.2rem;
    z-index: 100;

    #Tank {
        height: 64px; /*Høyde til logoen*/
        padding: 0.2rem;
    }

    .nav_links {    
        list-style: none;
        display: flex;
        gap: 60px;
        margin: 0;
        padding: 1rem;

            .nav_link {
                color: rgb(255, 255, 255);
                text-decoration: none;
                height: 100%;
                display: flex;
                align-items: center;

            }

    }

}

/*HERO/Intro section with video*/
#intro {
    margin: 2rem auto;
    margin-bottom: 1rem;
    max-width: 800px;
    min-height: 200px;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid black 1px;
    position: relative;
    overflow: hidden;

    h2 {
        padding: 0.2rem;
        margin: 0;

        border: solid slategray 1px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;

        z-index: 99;
    }

    p{
        padding: 0.2rem;
        margin: 0.3rem;

        border: solid slategray 1px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;

        z-index: 99;
    }

    a{
        display: flex;
        padding: 1rem;
        border: solid black 1px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: black;
        margin: 0,2rem;
        width: 150px;
        justify-content: center;
        z-index: 99;
    }

    #herovid {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

main {
    margin-top: 3rem;
    flex-grow: 1;

    h2{
        text-align: center;
    }
}

section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekarti {
    display: flex;
    align-items: center;
    background-color: rgb(177, 187, 198);

    border: solid black 1px;
    padding: 0.4rem;
    max-width: 1200px;
    margin: 1.4rem;

    p{
        max-height: 200px;
        
        margin: 0;
    }
    h3{ 
        width: calc(100% - 300px - 2rem); 
        margin: 0 0 1rem 0;
    }
    img{
        width: 100%;
        max-width: 300px;
        height: auto;
        object-fit: cover;
        flex-shrink: 0;

    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: white;
    background-color: black;
    width: 100%;
    max-width: 1100px;
    height: 50px;

    text-align: center;
}






/*CSS for HTMLtabeller side*/
#penchart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    
        article {
            border: solid black 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.4rem;
            margin: 1.3rem;

            #roundimg {
                width: 250px;
                height: 300px;
            }

            #roundimg2 {
                transform: rotate(90deg);
                width: 250px;
                height: 250px;
            }

            table {
                width: 100%;
                max-width: 800px;
                align-items: center;
                border-collapse: collapse;
                font-family: Arial;
                margin: 0 auto;

                    .dist {
                        background-color: lightslategray;
                        font-weight: bold;
                    }

                    th {
                        background-color: lightslategray;
                    }

                    th, td {
                        border: 1px solid #ddd;
                        padding: 6px;
                        text-align: left;
                    }

                } 
    
        }
}

@media screen and (max-width: 860px) {
    main{
        section{
            .weekarti{
                img{
                    display: none;
                }
            }
        }
    }
}

