body {
    background-color: black;
    height: 1000px;
}

h1{
    color: greenyellow;
}

p{
    color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}